<div class="col-xs-12"  *ngIf ="characterData!=undefined">
  <div class="container">
    <div class="row">
      <div>
        <h5 class="col-md-12" *ngIf="characterData.name=='' then aliase else name">
          
          </h5>
          <ng-template #aliase>
            <h5 class="col-md-12">{{characterData.aliases}} <hr></h5>
          </ng-template>
          <ng-template #name>
            <h5 class="col-md-12">{{characterData.name}} <hr></h5>
          </ng-template>
          
          
        <div class="col-md-12" *ngIf="characterData.gender!=''">
          gender:&nbsp;{{characterData.gender}}
          <hr>
        </div>
        <div class="col-md-12" *ngIf="characterData.culture!=''">
          culture:&nbsp;{{characterData.culture}}
          <hr>
        </div>
        <div class="col-md-12" *ngIf="characterData.born!=''">
            born:&nbsp;{{characterData.born}}
            <hr>
        </div>
        <div class="col-md-12" *ngIf="characterData.died!=''">
            died:&nbsp;{{characterData.died}}
        </div>
        <hr>
        <div class="col-md-12" *ngIf="characterData.father!=''">
            father:&nbsp;{{characterData.father}}
            <hr>
        </div>
        <div class="col-md-12" *ngIf="characterData.mother!=''">
          mother:&nbsp;{{characterData.mother}}
          <hr>
        </div>
        <div class="col-md-12" *ngIf="characterData.playedBy!=''">
          playedBy:&nbsp;{{characterData.playedBy}}
        </div>
      </div>
    </div>
  </div>
  <br>
  <button (click)="getBack()" class="btn btn-success">
      back
    </button>
</div>
