<div class="col-xs-12"  *ngIf ="gotData!=undefined">
  <div class="container">
    <div class="row">
      <div>
        <h5 class="col-md-12">
          {{gotData.name}}
          <hr>
        </h5>
        <div class="col-md-12">
          isbn:&nbsp;{{gotData.isbn}}
          <hr>
        </div>
        <div class="col-md-12">
          authors:&nbsp;{{gotData.authors}}
          <hr>
        </div>
        <div class="col-md-12">
            numberOfPages:&nbsp;{{gotData.numberOfPages}}
            <hr>
        </div>
        <div class="col-md-12">
            publisher:&nbsp;{{gotData.publisher}}
            <hr>
        </div>
        <div class="col-md-12">
            mediaType:&nbsp;{{gotData.mediaType}}
            <hr>
        </div>
        <div class="col-md-12">
            released:&nbsp;{{gotData.released | date}}
            <hr>
        </div>
        <div class="col-md-12">
          country:&nbsp;{{gotData.country}}
          <hr>
        </div>
      </div>
    </div>
  </div>
  <br>
  <button (click)="getback()" class="btn btn-success">
      back
    </button>
</div>